.cardlist {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    width: 90%;
}
.card {
    margin: 5px;
    border: 3px solid rgb(56, 65, 63);/*rgb(33, 221, 196);*/
    border-radius: 5%;
    box-shadow: 3px 3px 3px #ddd;
    width: 23%;
    text-align: center;
    cursor: pointer;
}
.card:hover {
    background-color: #ddd;
}
.card:active {
    box-shadow: 7px 7px 7px rgb(73, 73, 73);
}
.cardlist a {
    text-decoration: none;
    text-transform: none;
    color: black;
}
.cardlist a:active {
    color: black;
}

.flash-red {
    background: rgba(244, 67, 54, 0.19);
}
.flash-green {
    background: rgba(24, 198, 131, 0.19);
}
.neutral {
    background: rgb(243, 243, 243)
}


@media screen and (max-width: 600px) {
    .card {
        width: 45%;
    }
}